<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tanguyantoine.react">

    <application>
        <service android:stopWithTask="true" android:name=".MusicControlNotification$NotificationService" />
        <receiver android:name=".MusicControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
